<footer class="footer">
  <ul class="contact vcard">
    <li class="contact__item fn">Nina Schoppmann</li>
    <li class="contact__item street-address">Wasserfuhrstraße 4</li>
    <li class="contact__item contact__item--with-seperator">
      <span class="postal-code">51643</span>
      <span class="locality">Gummersbach</span>
    </li>
    <li class="contact__item">
      <i class="icon">mail</i>
      <a class="email" href="mailto:kontakt@ninaschoppmann.de">kontakt@ninaschoppmann.de</a>
    </li>
    <li class="contact__item tel">
      <i class="icon">local_phone</i><a href="tel:+4922619877897">02261 987 78 97</a></li>
  </ul>
  <div class="footer__copyright">
    <p class="footer__copyright-impressum"><a href="/impressum.html">Impressum & Datenschutz</a></p>

    <span class="footer__copyright-year">©
      {{ 'now' | date: "%Y" }}</span>
    <span class="footer__copyright-name">{{ site.data.settings.basic_settings.site_title }}</span>

    
  </div>
</footer>