<footer class="footer">
  <ul class="contact vcard">
    <li class="contact__item fn">Nina Schoppmann</li>
    <li class="contact__item street-address">Neudieringhauser Strasse 64 a</li>
    <li class="contact__item contact__item--with-seperator">
      <span class="postal-code">51645</span>
      <span class="locality">Gummersbach</li>
    </li>
    <li class="contact__item">
      <i class="icon">mail</i>
      <a class="email" href="mailto:kontakt@ninaschoppmann.de">kontakt@ninaschoppmann.de</a>
    </li>
    <li class="contact__item tel">
      <i class="icon">local_phone</i>02261 2040460</li>
  </ul>
  <div class="footer__copyright">
    <span class="footer__copyright-year">©
      {{ 'now' | date: "%Y" }}</span>
    <span class="footer__copyright-name">{{ site.data.settings.basic_settings.site_title }}</span>
  </div>
</footer>