// Header
// ------------------------------------------------------------------------- //
.header {
  position: fixed;
  z-index: -10;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: $m;

  background-image: url(../images/hero/nina-schoppmann-osteopathie-portrait.jpg);
  background-position: right;
  background-size: cover;


  &__content {
    z-index: 1;
    align-self: flex-end;
    width: 100%;
    padding-bottom: $l;

    @media (orientation: landscape) {
      align-self: flex-start;
    }
  }

  &__title {
    max-width: 20 * $m;
    margin-bottom: $xs;

    a {
      font-weight: $fw-medium;

      text-decoration: none;

      color: $black;
    }
  }

  &__subtitle {
    font-weight: 400;

    max-width: 20 * $m;

    opacity: $op-medium;
  }

  &__tagline {
    flex-grow: 1;
    margin-bottom: $xl;
  }

  &::before {
    position: absolute;
    z-index: 0;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: linear-gradient(0deg, rgba(255,255,255,.8), rgba(9,9,121,0));
  }

  .more {
    text-align: center;
  }

  @media (orientation: landscape) {
    background-image: url(../images/hero/nina-schoppmann-osteopathie-landscape.jpg);
  }
}


// Contact
// ------------------------------------------------------------------------- //

.contact {
  margin-bottom: $m;

  &__item {
    &--is-hidden {
      display: none;
    }

    &--with-seperator {
      margin-bottom: $s;
    }
  }
}



// Memberships
// ------------------------------------------------------------------------- //

.membership {
  text-align: center;
  &-grid {
    display: grid;

    grid-template-columns: 50% 50%;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $m;
    }
  }
}


// Page (Main Content)
// ------------------------------------------------------------------------- //
.page {
  margin-top: 100vh;
}


// Footer
// ------------------------------------------------------------------------- //

.footer {
  padding: $m;

  background-color: $cs-beige-light;


  &__copyright {
    padding-top: $m;

    border-top: solid 1px #fff;

    &-year::after {
      display: inline-block;
      margin-right: $xs;
      margin-left: $xs;

      content: '//';

      color: $seperator-color;
    }
  }
}


// Course Item
// ------------------------------------------------------------------------- //

.course-item {
  &__title {
    font-weight: $fw-normal;
  }
  &__title::before {
    display: inline-block;

    content: '«';
  }
  &__title::after {
    display: inline-block;

    content: '»';
  }
  &__year::before {
    display: inline-block;
    margin-right: $xs / 2;
    margin-left: $xs / 2;

    content: '//';

    color: $seperator-color;
  }
}

// Image Block
// ------------------------------------------------------------------------- //

.image-block {
  position: sticky;
  z-index: -1;
  top: 0;
  overflow: hidden;
  max-height: 100vh;

  background-color: #fff;

  &--2-columns {
    display: grid;

    grid-template-columns: 1fr 1fr;
    column-gap: $xs;
  }
}


// Content Block
// ------------------------------------------------------------------------- //

.content-block {
  z-index: 2;
  padding: $m;
  padding-top: $l;
  padding-bottom: $xl;

  background-color: #fff;
}
