<!doctype html>
<html class="no-js" lang="de">

<script>
  if (!(window.location.host.startsWith("127.0.0.1")) && (window.location.hostname.match(/^www./)))
        window.location = "https://nina-schoppmann.de";
  if (!(window.location.host.startsWith("127.0.0.1")) && (window.location.hostname.match(/ninaschoppmann\.de/)))
        window.location = "https://nina-schoppmann.de";

  if(location.pathname !== "/" && location.pathname !== "/impressum.html"){
    window.location = "https://nina-schoppmann.de";
  }
</script>
{% if site.force-https %}
    <script>
    // Don't force http when serving the website locally
    if (!(window.location.host.startsWith("127.0.0.1")) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
    </script>
  {% endif %}
<head>
	<meta charset="utf-8">

	<!-- Page Info -->
	<link rel="shortcut icon" href="{{ site.data.settings.basic_settings.favicon_image | relative_url }}">
	<title>{{ site.data.settings.basic_settings.site_title }} // {{ site.data.settings.basic_settings.site_tagline }}</title>
	<meta name="description" content="{{ site.data.settings.basic_settings.description | strip_html | xml_escape }}">

	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{% if page.url == "/" %}{{ site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{ page.title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}">
	<meta name="twitter:description" content="{{ site.data.settings.basic_settings.description | strip_html | xml_escape }}">
	<meta name="twitter:image:src" content="{{ site.data.settings.basic_settings.featured_image | absolute_url }}">

	<!-- Facebook OpenGraph -->
	<meta property="og:title" content="{% if page.url == "/" %}{{ site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{ page.title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}" />
	<meta property="og:description" content="{{ site.data.settings.basic_settings.description | strip_html | xml_escape }}" />
	<meta property="og:image" content="{{ site.data.settings.basic_settings.featured_image | absolute_url }}" />

	<!-- Styles -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
	
</head>

<body>


	{% include header.html %}

	<main class="page {{page.class}}">
  {{content}}
	</main>

	{% include footer.html %}

</body>
</html>